*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-gray80: hsl(0, 0%, 20%);
  --clr-gray60: hsl(0, 0%, 40%);
  --clr-gray40: hsl(0, 0%, 60%);
  --clr-gray30: hsl(0, 0%, 70%);
  --clr-gray20: hsl(0, 0%, 80%);
  --clr-gray10: hsl(0, 0%, 90%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
